* {
font-family : 'NemoyMedium';
color : white;
text-align : center;
font-weight: normal;

}
body {
width : 90%;
margin : 0 auto;
background-image : url("https://scontent-sea1-1.cdninstagram.com/vp/cb44caf204daf77cda75a59f12c89b57/5C54EC23/t51.2885-15/e35/20759796_132864260656511_7378786211466313728_n.jpg");
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
#content {
overflow : auto;
}
#nav, #feature, #footer {
margin : 1%;
}
.column1, .column2, .column3 {
width : 31.3%;
float : left;
margin : 1%;
}


#features.article {
height : 10em;
margin-bottom : 1em;
}

.column1 {
background-color : black;
opacity : 0.9000000059604644775390625;

}
.column2 {
background-color : black;
opacity : 0.9000000059604644775390625;
}
.column3 {
background-color : black;
opacity : 0.9000000059604644775390625;
}
.column3 {
margin-right : 0%;
}
li {
display : inline;
padding : 0.5em;
}
#footer {
padding : 0.5em;
opacity : 0.80000002384185791015625;
background-color : grey;
}
#nav {
background-color : black;
opacity : .8000000059604644775390625;
padding : 0.5em;

}
#feature {
height : 10em;
margin-bottom : 1em;
opacity : 1;
background-image : url("https://www.switchbacktravel.com/sites/default/files/image_fields/field_imgs_inline/Enchantments%20Washington.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
position: relative;
  top: 0px;
    left: 10px;
}
h1 {
font-family : 'NemoyMedium';
font-style : normal;
 text-align : center;

font-size: 300%;
}

